#map {
    height: 300px;
    width: 400px;
    justify-content: center;
    margin-left: 20%;
}

h1 {
    text-align: center;
    color: chocolate;
}

h3 {
    font-size: 15px;
}

.contenedorMapa {
    border: solid 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 3px;
    width: 50%;
    align-items: center;
}

.col {
    margin-left: 30px;
    
}

/* En tu hoja de estilos CSS */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    position: relative;
}

.star {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url('../assets/img/estrella.png'); /* Puedes usar una imagen o algún otro método para representar la estrella */
    background-size: cover;
    cursor: pointer;
}

.star:hover:before,
.star:hover ~ .star:before {
    content: '\2605';
    position: absolute;
    color: #fdd835;
}

.star:before {
    content: '\2606';
    position: absolute;
    color: #ddd;
}
